*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	color:#333;
}
#wrap{
	max-width: 1000px;
	margin:auto;
}
#header{
	float:right;
	width:900px;
	height:200px;
}
#header img{
	height:100%;
	width:100%;
}

#menu{
	float:left;
	position:absolute;
	background-color: green;
	width:100px;
	height:200px;
}
#content{
	clear:both;
	width:100%;
}

#footer{
	background-color: gray;
	height:40px;
	clear:both;
}
#backtop{
	position:fixed;
	right:30px;
	bottom:30px;
}
#backtop img{
	max-width: 50px;
	max-height: 50px;
}
#menu ul{
	
	list-style-type: none;
}
#menu ul li{
	padding:5px;
}
#menu li a{
	text-decoration: none;
	color:#333;
	
}
#menu li:hover{
	background: #CDE2CD;
}
.new{
	border:1px solid black;
	margin:5px;
	padding:5px;
}

